# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Trained models
*.zip
*.pth
*.pt

# Environment variables
.env

# VS Code local settings
.vscode/

# Unity
simulation/UnitySimulation/[Ll]ibrary/
simulation/UnitySimulation/[Tt]emp/
simulation/UnitySimulation/[Oo]bj/
simulation/UnitySimulation/[Bb]uild/
simulation/UnitySimulation/[Bb]uilds/
simulation/UnitySimulation/[Ll]ogs/
simulation/UnitySimulation/[Uu]ser[Ss]ettings/

# Visual Studio
simulation/UnitySimulation/.vs/